.form label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form button{
    color: white;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    background: none;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 3px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    cursor: pointer;
}